{% extends 'base.html.twig' %}

{% block body %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="http://3.cdn.nhle.com/nhl/images/upload/gallery/2016/04/520034894_slide.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Show all articles</h1>

                        <p><a class="btn btn-lg btn-primary" href="nhl/articles" role="button">Show Articles</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="http://2.cdn.nhle.com/nhl/images/upload/gallery/2016/04/520309012_slide.jpg" alt="Second slide" align="center">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Articles</h1>
                        <p>oaltender Joonas Korpisalo of the Columbus Blue Jackets
                            is spot lit during player introductions prior to the start
                            of the game against the New York Rangers on April 4, 2016 at Nationwide Arena in Columbus, Ohio.
                            New York defeated Columbus 4-2. (Photo by Kirk Irwin/Getty Images) </p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="http://2.cdn.nhle.com/nhl/images/upload/gallery/2016/04/519152712_slide.jpg" alt="Third slide" >
                <div class="container">
                    <div class="carousel-caption">
                        <h1>IN THE SPOTLIGHT</h1>
                        <p> Goaltender Joonas Korpisalo of the Columbus Blue Jackets
                            is spot lit during player introductions prior to the start
                            of the game against the New York Rangers on April 4, 2016 at Nationwide Arena in Columbus, Ohio.
                            New York defeated Columbus 4-2. (Photo by Kirk Irwin/Getty Images)</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="http://1.cdn.nhle.com/nhl/images/upload/gallery/2016/04/518612202_slide.jpg" alt="Forth slide" >
                <div class="container">
                    <div class="carousel-caption">
                        <h1>WHICH WAY DID IT GO?</h1>
                        <p> All eyes are on the puck as goalie Jimmy Howard of the Detroit Red Wings makes a blocker save on a shot by Zach
                            Parise of the Minnesota Wild as teammate Justin Abdelkader defends during an NHL game at
                            Joe Louis Arena on April 1, 2016 in Detroit, Michigan. (Photo by Dave Reginek/NHLI via Getty Images)</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->


    <div class="container">
        <div class="row">
            <div class="col-md-8">
<br>
<br>
<hr>
         <strong>Marián Gáborík zaznamenal v nedeľu svoj prvý bod v tejto sezóne a prispel ním aj k prvej výhre Los Angeles. Na tretí pokus sa víťazstva dočkalo aj Toronto.</strong>
<br><br>
<h4>Maple Leafs vyhrali prvý zápas, Rangers zdolali 6:3</h4>
Maple Leafs hrali lepšie a urobili všetko to, čo pri prehrách s Montrealom a Pittsburghom neurobili. Výsledkom toho bolo víťazstvo 6:3 na ľade New Yorku Rangers. Kanadskému tímu sa dokonca podarilo vyhnať z domácej brány Henrika Lundqvista, ktorý inkasoval všetkých šesť gólov z 24 striel. Päť z nich v druhej tretine. Cama Talbota z ďalších 12 striel už neprekonali. <i>„Čelili sme brankárovi, ktorý nemáva veľa zlých večerov. Je to veľmi dobrý brankár, ktorý dnes nemal svoj deň,“</i> povedal tréner Toronta Randy Carlyle. Aj v bráne jeho tímu sa vystriedali dvaja brankári. Svoj sezónny debut zažil James Reimer, ktorý zastavil 24 striel z 26 predtým, ako sa v tretej tretine dostal do kontaktu s Dominicom Mooreom a prenechal miesto Jonathanovi Bernierovi napriek tomu, že sa cítil dobre. Ten kapituloval raz z 12 striel. Z víťazstva sa tešil aj <b>Richard Pánik</b>, ktorý však odohral len päť a pol minúty. Zaznamenal jeden mínusový bod a v tretej tretine absolvoval len jedno striedanie. Z jeho spoluhráčov sa najviac darilo Philovi Kesselovi, ktorý zaznamenal gól a dve asistencie. Skórovali ale aj Cody Franson, Nazem Kadri, James van Riemsdyk, Tyler Bozak a David Clarkson. O góly Rangers sa postarali Rick Nash, Lee Stempiak a Derick Brassard. <i>„Nie som si istý, čo sa stalo v druhej tretine. Vyzeralo to, že každá ich šanca skončila v bráne. Každá ich šanca vyzerala ako vyložená príležitosť. Momentálne nemáme pre vás vysvetlenie,“</i> povedal tréner Rangers Alain Vigneault.
<br><br>
<strong>Hviezdy duelu:</strong> 1. P. Kessel (TOR), 2. N. Kadri (TOR), 3. J. van Riemsdyk (TOR)
<br><br>
<h4>Los Angeles zdolalo Winnipeg 4:1, Gáborík asistoval</h4>
Členovia „sedemdesiatkového útoku“, Tyler Toffoli, Jeff Carter a Tynner Pearson, zaznamenali po góle a asistencii, aby doviedli Los Angeles k výhre 4:1 nad Winnipegom.  Kings vyhrali v Staples Center svoj vôbec prvý zápas v tejto sezóne a napravili ním prehru z úvodného domáceho duelu proti San Jose, pred ktorým vyvesili pod strop haly majstrovský baner. Martin Jones pomohol k nedeľnej výhre 29 zákrokmi a pri svojom prvom štarte v sezóne pôsobil veľmi isto. Prekonal ho len Bryan Little, pričom predtým podržal svoj tím pri šanciach Michaela Frolíka a Adama Lowryho, ako aj neskôr pri šanci Andrewa Ladda. Na opačnej strane nebol príliš úspešný Michael Hutchinson, ktorý inkasoval tri góly z 13 striel. Okrem Toffoliho a Pearsona ho prekonal aj Anže Kopitar, ktorý po prihrávke <b>Mariána Gáboríka</b> strelil svoj prvý gól v sezóne. Ondřej Pavelec potom zastavil 17 striel. Gáborík, ktorý po prvýkrát v ročníku bodoval, odohral takmer 16 minút a zaznamenal aj plusový bod a tri strely na bránu.
<br><br>
<strong>Hviezdy duelu:</strong> 1. T. Toffoli (LAK), 2. J. Carter (LAK), 3. T. Pearson (LAK)
<br><br>
<div class="h4">Slováci v akcii</div>
<table cellspacing="0" cellpadding="6" width="98%">
<tbody>
  <tr>
    <td width="31%" bgcolor="#047ECC"><strong style="color:#FFFFFF">Hráč</strong></td>
    <td width="22%" bgcolor="#047ECC"><strong style="color:#FFFFFF">Ice-time</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">G</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">A</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">B</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">+/-</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">TM</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">S</strong></td>
    <td width="8%" bgcolor="#047ECC"><strong style="color:#FFFFFF">Bčk</strong></td>
  </tr>
  <tr>
   <td bgcolor="#efefef">R. Pánik (TOR)</td>
    <td bgcolor="#efefef">05:28</td>
    <td bgcolor="#efefef">0</td>
    <td bgcolor="#efefef">0</td>
    <td bgcolor="#efefef">0</td>
    <td bgcolor="#efefef">-1</td>
    <td bgcolor="#efefef">0</td>
    <td bgcolor="#efefef">0</td>
    <td bgcolor="#efefef">0</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">M. Gáborík (LAK) </td>
    <td bgcolor="#FFFFFF">15:56</td>
    <td bgcolor="#FFFFFF">0</td>
    <td bgcolor="#FFFFFF">1</td>
    <td bgcolor="#FFFFFF">1</td>
    <td bgcolor="#FFFFFF">+1</td>
    <td bgcolor="#FFFFFF">0</td>
    <td bgcolor="#FFFFFF">3</td>
    <td bgcolor="#FFFFFF">0</td>

  </tr>
  </tbody>
</table>
<br><br><h4>Videá z dnešnej noci</h4><div class="video_cl_box_up">Videá: <div class="box_more"><a href="#">Všetky</a></div></div>
    <div class="video_cl_box"><a href="#"> Bitky z 12. októbra 2014 <span style="float:right; font-weight:normal;">
      <small>13.10.2014</small></span></a><a href="#"> Krásny gól Nasha z pohľadu rozhodcu <span style="float:right; font-weight:normal;"><small>13.10.2014</small></span></a></div><a class="tema_rekl" href="http://www.fanda-nhl.cz/">NHL Fanshop - tričká, šiltovky a dresy</a><iframe src="http://www.facebook.com/plugins/like.php?href=http://slovaknhl.sk//20944-gaborik-i-panik-vyhrali-prvy-menovany-aj-bodoval.html" scrolling="no" frameborder="0" style="height: 24px; width: 560px; margin-top:24px; display:block;" ></iframe><!--
-->


</div>
<br>
            &nbsp;
            <div class="col-md-4">


    {% for nhl in nhl %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="/nhl/details/{{ nhl.id }}">{{ nhl.articleName }}</a></h3>
                    </div>
                    <div class="panel-body">
                         <p>{{ nhl.description }}</p>
                    </div>
                </div>


        {% endfor %}

            </div>


            </div>





    </div>
{% endblock %}